@media (max-width:575px)    
    .quatrediv
        display: flex
        flex-direction: column !important
        .deuxfirstdiv
            display:flex
            flex-direction: column !important
        .deuxlastdiv
            display:flex
            flex-direction: column !important
    footer
        display:flex
        flex-direction: column !important
    .iconn
        flex-direction: column
    #newsl
        flex-direction: column
        text-align: center
        margin: auto  



